*.ipynb_checkpoints*
*.DS_Store*
*__pycache__*
*egg-info*

~$*

SpeakQL/Allennlp_models/runs
SpeakQL/Allennlp_models/cache
SpeakQL/Allennlp_models/outputs
SpeakQL/Allennlp_models/data
SpeakQL/Allennlp_models/.vector_cache

SpeakQL/images/inspection
images/inspection

Papers/*
ARR-submissions/*
tmp_experiments/*
archive_results/*

